.header {
  background-color: bisque;

  display: flex;
  flex-direction: row-reverse;
}

.header,
.dropdown-top {
  height: 2rem;
}

.dropdown {
  justify-content: flex-end;
  display: grid;

  height: 100%;
  width: auto;
}

.dropdown-top {

  display: flex;
  flex-direction: row-reverse;
}

.dropdown-top img {
  display: block;
}

.dropdown-item {
  display: none;
  width: 10rem;
  height: 2rem;
  padding: 0.25rem;
}

.dropdown-item:hover{
  display: none;
  width: 10rem;
  height: 2rem;
  padding: 0.25rem;

  font-weight: 700;
  cursor: pointer;
}

.dropdown-item:nth-child(odd) {
  background-color: antiquewhite;
}

.dropdown-item:active{
  display: none;
  width: 10rem;
  height: 2rem;
  padding: 0.25rem;

  font-weight: 700;
  cursor: pointer;
  background-color: burlywood;
}

.dropdown-item.show {
  display: block;
}
